<div class="col col-md-6 col-lg-4 py-3 note-div">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <% if (note) { %>
                <%= note.title %>
                <% } %>
            </h5>
            <ul>
                <%for(var i=0;i < note.list_content.length;i++){ %>
                <li>
                    <%= note.list_content[i] %>
                </li>
                <% }%>
            </ul>
            <div class="row">
                <div class="col-6">
                    <!-- Form for deleting a note -->
                    <form action="/note/delete/<%= note._id %>" method="POST">
                        <!-- <input type="hidden"  name="note-id" value="<%= note._id %>"> -->
                        <button type="submit" class="btn btn-outline-danger btn-small">
                            Delete
                        </button>
                    </form>
                </div>
                <div class="col-6">
                    <!-- Form that takes you to the edit page -->
                    <form action="/note/edit/<%= note._id %>" method="get">
                        <button type="submit" class="btn btn-outline-info btn-small">
                            Edit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>